.navbar-brand > img{
  display: inherit;
    height: 180%;
    margin-top: -4%;
    width: 32%;
}

img#full-mobile{
  height:100%;
}

img#top-mobile{
  height: 100%;
}

@media (max-width:300px) {
  a.navbar-brand.page-scroll{
    width:65%;
  }
}

section.cta .cta-content h2{
  max-width:80%;
}

section.cta{
  background-image: url(../img/landing_peizas/12.png);
}

.cta-content.col-md-12{
  padding-top:40px;
}

#about{
  padding: 150px 0;

}

@media (min-width: 768px)
{
section.cta .cta-content h2{
  font-size:60px;
}
}
